.*.sw?
*.pyc
*~
.idea/*
dist/*
build/*
pypln.egg-info/*
.idea/*
.coverage
reg_settings.py
MANIFEST
.directory
*.db
.env
pypln/web/index/
pypln/web/index.pid
pypln/web/media/
pypln/web/settings.ini
env/
