{% load i18n %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jqcloud-1.0.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jqcloud.css" />

<a href="{% url document_visualization document.id document.slug "word-cloud" "csv" %}">{% trans "Download data as CSV" %}</a>
<br />

<div id="wordcloud" style="width: 480px; height: 350px"></div>

<script type="text/javascript">
var word_list = [
  {% for word, weight in freqdist %}
  {text: "{{ word|escapejs }}", weight: {{ weight }} },
  {% endfor %}
];
$(document).ready(function() {
   $("#wordcloud").jQCloud(word_list);
});
</script>
