{% extends "site_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% block head_title %}{% trans "Document List" %}{% endblock %}
{% block extra_head%}
    <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <link href="{{ STATIC_URL }}css/jquery.dataTables.css" rel="stylesheet"></link>
{% endblock %}


{% block body %}
<div class="breadcrumb">
    {% trans "You are here: " %}
    <a href="{% url home %}">{% trans "Main page" %}</a> &gt;
    <a href="{% url document_list %}">{% trans "Document List" %} </a>
</div>

<h2>{% trans "Search your documents" %}</h2>
<form method="GET" action="{% url search %}">
  <input type="text" name="query" />
  <input type="submit" value="{% trans 'Search' %}" />
</form>

<h2>{% trans "Document List" %}</h2>

    <div class="per-page">{% trans "Show" %}
        <select id="per-page">
            <option {% if paginator.per_page == 10 %}selected{% endif %} value="10">10</option>
            <option {% if paginator.per_page == 25 %}selected{% endif %} value="25">25</option>
            <option {% if paginator.per_page == 50 %}selected{% endif %} value="50">50</option>
            <option {% if paginator.per_page == 100 %}selected{% endif %} value="100">100</option>
        </select>
        {% trans "entries" %}
    </div>

    <table id="table_documents">
        <thead>
        <tr>
            <th class="sort{% if sort_by == "blob" %} sort_asc{% endif %}{% if sort_by == "-blob" %} sort_desc{% endif %}" key="filename">{% trans "Filename" %}</th>
            <th>{% trans "Size" %}</th>
            <th class="sort{% if sort_by == "date_uploaded" %} sort_asc{% endif %}{% if sort_by == "-date_uploaded" %} sort_desc{% endif %}" key="date">{% trans "Uploaded on" %}</th>
            <th>{% trans "Owner" %}</th>
            <th class="sort{% if sort_by == "corpus" %} sort_asc{% endif %}{% if sort_by == "-corpus" %} sort_desc{% endif %}" key="corpus">{% trans "Corpus" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
        <tr>
          <td><a href="{% url document_page document.id document.slug %}">{{ document.file_name }}</a></td>
          <td>{{ document.file_size }}</td>
          <td>{{ document.date_uploaded }}</td>
          <td><a href="{% url profile_detail username=document.owner.username %}">{{ document.owner }}</a></td>
          <td>
              {% for corpus in document.corpus_set.all %}
                  <a href="{% url corpus_page corpus_slug=corpus.slug %}">{{ corpus.name }}</a>
              {% endfor %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination pagination-right pagination-small">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}&per_page={{ paginator.per_page }}">{% trans "previous" %}</a></li>
            {% else %}
                <li class="disabled"><span>{% trans "previous"%}</span></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}&per_page={{ paginator.per_page }}">{% trans "next" %}</a></li>
            {% else %}
                <li class="disabled"><span>{% trans "next"%}</span></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
