#visualization {
    width: 580px;
    min-height: 400px;
}
.tabs > li > a {
    background-color: #F8F8F8;
}
.active {
    background-color: #CCCCCC !important;
}

.legal {
    text-align: center !important;
}

label {
    width: 290px !important;
}

#footer {
    margin-top: 10px !important;
}

.right {
    text-align: right;
}

.messages {
    list-style: none;
}

.messages>.info {
    background-color: #72D42A;
    color: #000;
    padding: 10px;
    padding-left: 20px;
    margin-left: -25px;
}

.messages>.error {
    background-color: #e72f2f;
    color: #000;
    padding: 10px;
    padding-left: 20px;
    margin-left: -25px;
}

.form-inline>#id_blob {
    width: 80%;
}

.form-inline>.btn {
    float: right;
}

.errorlist {
    list-style: none;
}

.errorlist>li {
    color: #e72f2f;
}


/* The version of bootstrap.min.css we're using does not support <span> in
 pagination, so I'll replicate the functionality here */
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    border-right: 1px solid;
    border-right-color: #ddd;
    border-right-color: rgba(0, 0, 0, 0.15);
    *border-right-color: #ddd;
    text-decoration: none;
}

.pagination .disabled span {
    background-color: transparent;
    color: #bfbfbf;
}

/* pagination-right and pagination-small are also supported in new versions of
 bootstrap.css. I'll make it work here using the same class name (but different
 implementation) so when we update bootstrap we can just remove this. */

.pagination-right {
  float: right;
}

.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
  height: 20px;
  line-height: 20px;
}

div.per-page {
  margin: 15px 0;
}
